@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0f172a;
  }
}

/* Hide the Next.js Compile Overlay Dev Toolbar */
#__next-build-watcher,
.__next-dev-overlay {
  display: none !important;
  visibility: hidden !important;
}